<mat-toolbar color="primary">
  <div fxFlex
       fxLayout="row"
       fxLayoutAlign="space-around center">
    <div>monorepo-example</div>
    <button mat-button
            (click)="doHome()">
      Home
    </button>
    <div fxFlex></div>
    <div>
      <button *ngIf="session !== null"
              mat-button
              (click)="doSignout()">
        Sign Out
      </button>
      <button *ngIf="session === null"
              mat-button
              (click)="doSignin()">
        Sign In
      </button>
    </div>
  </div>
</mat-toolbar>
